<tr>
    <td>[[+type]]</td>
    <td>[[+date]]</td>
    <td>[[+user]]</td>
    <td>[[+edituser]]</td>
    <td>[[+datedit]]</td>
    <td><span id="[[+id]]" class="openDoc"><i class="fa fa-eye"></i></span>
        <span id="[[+id]]" class="deleteDoc"><i class="fa fa-trash-o"></i></span></td>
</tr>